@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: var(--font-family, sans-serif);
    background-color: #f8f9fa;
}